.header h1 {
    font-size: 3.25rem;
}

.main {
    width: 100%;
}

.transactionContainer {
    margin: 0 auto;
    width: 70%;
}

.subbudgetsContainer {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 70%;
    background-color: whitesmoke;
}

.budgetCard {
    position: relative;
    padding: .5rem .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 16rem;
    background-color: lightgray;
    cursor: pointer;
}

.addBudgetButton {
    border: none;
    font-size: 3rem;
    font-weight: 100;
}

.budgetCardButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    display: flex;
    gap: .25rem;
}

.budgetCard h2 {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow-wrap: break-word;
}

.addBudgetModalContainer, .updateBudgetModalContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.addBudgetModal, .updateBudgetModal {
    padding: 1rem 1.5rem;
    background-color: white;
}

.addBudgetForm p, .updateBudgetForm p {
    margin: .5rem;
}

.addBudgetForm .addBudgetName, .updateBudgetForm .updateBudgetName {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.addBudgetName label, .updateBudgetForm label {
    font-size: 1.25rem;
}

.addBudgetName input, .updateBudgetName input {
    padding: .5rem;
    font-size: 1.25rem;
}

.addBudgetSubmit, .updateBudgetSubmit {
    float: right;
    display: flex;
    gap: .5rem;
}