.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.budgetList {
    padding: 1rem 1.25rem;
    width: 70%;
    background-color: whitesmoke;
}

.budgetTable {
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.budgetCard {
    padding: .5rem .75rem;
    width: 12rem;
    height: 16rem;
    background-color: lightgray;
    cursor: pointer;
}

.budgetCard h2 {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 15rem;
}

.addBudgetButton {
    border: none;
    padding: .5rem .75rem;
    width: 12rem;
    height: 16rem;
    background-color: lightgray;
    cursor: pointer;
}

.addBudgetButton h2 {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    line-height: 15rem;
}

.addBudgetModalContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.addBudgetModal {
    padding: 1rem 1.5rem;
    background-color: white;
}

.addBudgetForm p {
    margin: .5rem;
}

.addBudgetForm .addBudgetName {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.addBudgetName label {
    font-size: 1.25rem;
}

.addBudgetName input {
    padding: .5rem;
    font-size: 1.25rem;
}

.addBudgetSubmit {
    float: right;
    display: flex;
    gap: .5rem;
}
