.main {
  margin: 0 auto;
  width: 70%;
}

.budgetsContainer {
  padding: 1px;
  margin: .75rem auto;
  width: 100%;
  background-color: whitesmoke;
}

.budgetsContainer h2 {
  text-align: center;
}

.budgetsGrid {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.budgetCard {
  padding: .5rem;
  background-color: lightgray;
  cursor: pointer;
}
.budgetCard h3 {
  text-align: center;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  padding: 1rem;
  background-color: white;
}

.modal h2 {
  text-align: center;
}

.budgetNameSection {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.modalButtonContainer {
  display: flex;
}

.addBudgetModal .modalButtonContainer {
  float: right;
  gap: .5rem;
}

.transactionHistory {
  padding: .5rem;
  flex: 2;
  background-color: whitesmoke;
}

.transactionHistory h2 {
  text-align: center;
}

.transactionTable {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: lightgray;
}

.transactionCard {
  padding: .25rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
} 

.stats {
  padding: .5rem;
  flex: 1;
  background-color: whitesmoke;
}

.stats h2 {
  text-align: center;
}

.balanceStat {
  margin-bottom: .5rem;
}

.balanceStat, .incomeStat, .expenseStat {
  padding: .5rem;
  background-color: lightgray;
}

.incomeStat, .expenseStat {
  flex: 1;
}

.balanceStat h3, .incomeStat h3, .expenseStat h3 {
  text-align: center;
}

.balanceStat span, .incomeStat span, .expenseStat span {
  display: block;
  text-align: center;
}

