.main {
    width: 80%;
}

.transactionTable {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

.transactionTable .emptyTable {
    padding: .75rem 1rem;
}

.transactionTable :not(:first-child) {
    border-top: none;
}

.transactionRow {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.transactionRow :not(:first-child) {
    border-left: 1px solid rgb(185, 95, 95);
}

.transactionCell {
    margin: 0;
    padding: .5rem .75rem;
    flex: 1;
    text-align: center;
    text-transform: capitalize;
}

.dataCell {
    text-transform: none;
}

.transactionRow .transactionUtilContainer {
    position: absolute;
    left: 100%;
    border-left: none;
    padding: .25rem .5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    height: 100%;
}

.transactionRow .transactionUtilContainer button {
    border: none;
}

.transactionUtilContainer button:hover {
    background-color: lightgray;
}

.addTransactionBtn {
    position: relative;
    float: right;
    margin-bottom: .75rem;
}

.addTransactionModalContainer, .updateTransactionModalContainer {
    position: absolute;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.addTransactionModal, .updateTransactionModal {
    border-radius: 1rem;
    padding: .25rem .5rem;
    width: 50%;
    background-color: white;
}

.addTransactionModal h2, .updateTransactionModal h2 {
    margin: .75rem 0 0;
    text-align: center;
}

.addTransactionForm, .updateTransactionForm {
    margin: 0 auto;
    padding: .25rem .75rem;
    width: 70%;
}

.addTransactionForm label, .updateTransaction label {
    margin-bottom: .25rem;
    display: block;
}

.addTransactionForm input, .updateTransactionForm input {
    display: block;
    width: 100%;
}

.addTransactionValueField, .updateTransactionValueField {
    display: flex;
    justify-content: space-between;
}

.addTransactionValueField input, .updateTransactionValueField input {
    width: 67px;
}

.addTransactionFormButtonRow, .updateTransactionFormButtonRow {
    display: flex;
    justify-content: flex-end;
    gap: .75rem;
}

.addTransactionFormButtonRow button, .updateTransactionForm buton {
    padding: .375rem;
    border: none;
    border-radius: .25rem;
}

.addTransactionSubmitButton, .updateTransactionSubmitButton {
    background-color: cornflowerblue;
    color: white;
}
