.signupH1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: blue;
}

.signupMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
    
.signupForm {
    width: 50%;
}

.signupForm p {
    margin: 0 0 .75rem;
}

.signupLabel {
    margin: 0 0 .5rem 0;
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
}

.signupInput {
    border: none;
    border-radius: 12px;
    padding: .75rem 1rem;
    display: block;
    background-color: whitesmoke;
    width: 100%;
    font-size: 1.25rem;
}

.signupInput:focus {
    outline: none;
}

.signupSubmit {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupButton {
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    box-sizing: content-box;
    background-color: greenyellow;
    width: 30%;
    font-size: 1.125rem;
    cursor: pointer;
}